/* Subsidebar css */
.sub-sidebar{
    position: fixed;
    width: 251px;
    height: 100%;
    background-image: linear-gradient(to top, #000000, #164e7d);
    left: 95px;
    top: 0;
    padding-top: 128px;
    color: #fff;
}
.sidebar-title{
  opacity: 0.8;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.sidebar-person-name{
  font-size: 23px;
  font-weight: 500;
  line-height: 1.35;
  color: #ffffff;
}
.person-contact{
    font-size: 15px;
    opacity: 0.9;
}

.person-status{
  opacity: 0.9;
  font-family: Heebo;
  font-size: 15px;
  font-weight: 500;
}
.financial-status{
    width: 100%;
    padding: 15px 0 15px 36px;
    background: #f7f5f51c;
}
.sub-sidebar-el{
    padding: 0 0  36px 36px;
}
.sub-sidebar-menu{
    padding: 20px 0 0 17px; 
}
.sub-sidebar-menu ul{
    padding: 0;
}
.sub-sidebar-menu ul li{
    width: 234px;
    height: 49px;
    border-radius: 3px 0 0 3px;
}
.sub-sidebar-menu ul li a{
    display: block;
    color: #fff;
    font-size: 16px;
    opacity: 0.9;
}
.sub-sidebar-menu ul li a.active{
    background: #fff;
    color: #000000;
}
/* Subsidebar css */