.cardPadding {
    padding: 2%;
    margin-top: 1%;
    background-color: whitesmoke;
}

.codeRed {
    color: red;
    font-size: 3rem;
}

.up,.down {
    color: lightgray;
    font-size: 3rem;
    margin: 0 5%;
}

.smFont {
    font-size: 1.0rem;
    text-decoration: underline;
    text-transform: uppercase;
}

.handsUpDown {
    font-size: 3rem;
    color: lightgray;
    text-align: center;
}
.contentTop {
    margin-top: 4px;
}
