@font-face {
    font-family: GilroyBold;
    src: url(../web-fonts/Gilroy-Bold.woff);
}

@font-face {
    font-family: GilroyMedium;
    src: url(../web-fonts/Gilroy-Medium.woff);
}

body, .modal-title{
    font-family: GilroyBold !important;
}
.stickyNavbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.modal-header {
    background-color: #0469D9;
    color: white;
    border-radius: 4px 4px 0px 0px;
}
.color > a {
    color: black;
    font-family: GilroyBold;
}
.nbSpan {
    margin-right: 5px;
}

.textCenter {
    text-align: center;
}
.testRow > div {
    margin: auto;
    width: 40%;
    display: flex;
    /* padding: 1%; */
}
.navStyle {
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
    margin: 2%;
    border: 1px solid red;
}