@font-face {
    font-family: GilroyBold;
    src: url(../web-fonts/Gilroy-Bold.woff);
}

@font-face {
    font-family: GilroyMedium;
    src: url(../web-fonts/Gilroy-Medium.woff);
}

body, .modal-title{
    font-family: GilroyBold !important;
}
.stickyNavbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.modal-header {
    background-color: #0469D9;
    color: white;
    border-radius: 4px 4px 0px 0px;
}
.nbSpan {
    margin-right: 5px;
}