.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.form-modal {
    font-size: 17px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #252525 !important;
    font-family: 'Heebo', sans-serif !important;
    /* height: 39px; */
}

.form-modal .form-control {
    border-radius: 3px;
    border: solid 1px rgba(37, 37, 37, 0.3);
}

.form-modal input {
    padding-left: 10px;
}

textarea.form-control {
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-modal label {
    font-size: 15px;
    color: rgba(37, 37, 37, 0.7);
    margin-left: 10px;
}

.radio-modal {
    font-size: 17px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #252525 !important;
    font-family: 'Heebo', sans-serif !important;
    /* height: 39px; */
}

.radio-modal label {
    font-size: 14px;
    color: rgba(37, 37, 37, 0.7);
    padding-left: 5px;
    margin-right: 10px;
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100% !important;
}

input[name="pe_shift"],
input[name="e_pe_shift"] {
    width: 16px;
    height: 16px;
    margin-left: 0px;
    position: relative;
    top: 3px;
}

.pe_shift {
    width: 16px;
    height: 16px;
    margin-left: 0px;
    position: relative;
    top: 3px;
}

.check {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -9px;
    height: 17px;
    width: 17px;
    border: 1px solid #777;
}

.check input:checked~.checkmark {
    background: #094b7d;
}

.check input:checked~.checkmark:after {
    content: "";
    display: inline-block;
}

.check .checkmark:after {
    content: "";
    margin-left: 5px;
    margin-bottom: 10px;
    width: 5px;
    height: 12px;
    display: none;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.down_arrow {
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 4px;
}

.calender {
    width: 18px;
    height: 18px;
    float: right;
    margin-top: 8px;
    margin-left: -24px;
    position: absolute;
}

.place_stle {
    color: #555;
}

.widthone {
    min-width: 196px;
}

.widthtwo {
    min-width: 154px;
}


/* calnder Styling */


/* .react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}

.react-datepicker__header {
    padding-top: 6px !important;
}

.react-datepicker__navigation {
    top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
    margin: 0.5rem !important;
} */


/* calnder Styling */

.stle_back {
    background-color: transparent !important;
}

.calender {
    z-index: 1;
}

.react-datepicker__input-container {
    background: transparent;
    z-index: 2;
}

.inpt_size {
    width: 86px !important;
    /* top: 386px !important; */
}

.time_pic {
    margin-left: 28px !important;
}

.ant-time-picker-panel-placement-bottomLeft {
    top: 386px !important;
}

.modal-title {
    color: white;
}

.select_palceholder {
    font-size: 15px;
    font-weight: 400 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(37, 37, 37, 0.6);
    font-family: 'Heebo', sans-serif !important;
    vertical-align: super;
}

.table>thead>tr>th {
    font-weight: 600 !important;
    font-family: GilroyMedium;
}

.table>tbody>tr>td {
    font-weight: 500 !important;
    font-family: GilroyMedium;
}

.css-1okebmr-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: none !important;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}