                                    @font-face {
                                        font-family: GilroyBold;
                                        src: url(../web-fonts/Gilroy-Bold.woff);
                                    }
                                    
                                    @font-face {
                                        font-family: GilroyMedium;
                                        src: url(../web-fonts/Gilroy-Medium.woff);
                                    }
                                    
                                    body {
                                        font-family: GilroyBold !important;
                                        /* color: black !important; */
                                    }
                                    
                                     ::-webkit-scrollbar {
                                        width: 0px;
                                    }
                                    
                                     ::-webkit-scrollbar-track {
                                        background: #f1f1f1;
                                    }
                                    
                                     ::-webkit-scrollbar-thumb {
                                        background: #888;
                                    }
                                    
                                     ::-webkit-scrollbar-thumb:hover {
                                        background: #555;
                                    }
                                    
                                    .h-70 {
                                        height: 70px !important;
                                    }
                                    
                                    .h-75 {
                                        height: 75px !important;
                                    }
                                    
                                    input,
                                    textarea {
                                        font-family: GilroyBold !important;
                                    }
                                    
                                    input::placeholder,
                                    textarea::placeholder {
                                        font-family: GilroyBold !important;
                                    }
                                    
                                    .h-85 {
                                        height: 85px !important;
                                    }
                                    
                                    .h-90 {
                                        height: 90px !important;
                                    }
                                    
                                    .h-95 {
                                        height: 95px !important;
                                    }
                                    
                                    .h-100 {
                                        height: 100px !important;
                                    }
                                    
                                    .vh-05 {
                                        height: 5vh !important;
                                    }
                                    
                                    .vh-10 {
                                        height: 10vh !important;
                                    }
                                    
                                    .vh-15 {
                                        height: 15vh !important;
                                    }
                                    
                                    .vh-20 {
                                        height: 20vh !important;
                                    }
                                    
                                    .vh-25 {
                                        height: 25vh !important;
                                    }
                                    
                                    .vh-30 {
                                        height: 30vh !important;
                                    }
                                    
                                    .vh-35 {
                                        height: 35vh !important;
                                    }
                                    
                                    .vh-40 {
                                        height: 40vh !important;
                                    }
                                    
                                    .vh-45 {
                                        height: 45vh !important;
                                    }
                                    
                                    .vh-50 {
                                        height: 50vh !important;
                                    }
                                    
                                    .vh-55 {
                                        height: 55vh !important;
                                    }
                                    
                                    .vh-60 {
                                        height: 60vh !important;
                                    }
                                    
                                    .vh-65 {
                                        height: 65vh !important;
                                    }
                                    
                                    .vh-70 {
                                        height: 70vh !important;
                                    }
                                    
                                    .vh-75 {
                                        height: 75vh !important;
                                    }
                                    
                                    .vh-80 {
                                        height: 80vh !important;
                                    }
                                    
                                    .vh-85 {
                                        height: 85vh !important;
                                    }
                                    
                                    .vh-90 {
                                        height: 90vh !important;
                                    }
                                    
                                    .vh-100 {
                                        height: 100vh !important;
                                    }
                                    
                                    .w-05 {
                                        width: 5% !important;
                                    }
                                    
                                    .w-10 {
                                        width: 10% !important;
                                    }
                                    
                                    .w-15 {
                                        width: 15% !important;
                                    }
                                    
                                    .w-20 {
                                        width: 20% !important;
                                    }
                                    
                                    .w-25 {
                                        width: 25% !important;
                                    }
                                    
                                    .w-30 {
                                        width: 30% !important;
                                    }
                                    
                                    .w-35 {
                                        width: 35% !important;
                                    }
                                    
                                    .w-40 {
                                        width: 40% !important;
                                    }
                                    
                                    .w-45 {
                                        width: 45% !important;
                                    }
                                    
                                    .w-50 {
                                        width: 50% !important;
                                    }
                                    
                                    .w-55 {
                                        width: 55% !important;
                                    }
                                    
                                    .w-60 {
                                        width: 60% !important;
                                    }
                                    
                                    .w-65 {
                                        width: 65% !important;
                                    }
                                    
                                    .w-70 {
                                        width: 70% !important;
                                    }
                                    
                                    .w-75 {
                                        width: 75% !important;
                                    }
                                    
                                    .w-80 {
                                        width: 80% !important;
                                    }
                                    
                                    .w-85 {
                                        width: 85% !important;
                                    }
                                    
                                    .w-90 {
                                        width: 90% !important;
                                    }
                                    
                                    .w-100 {
                                        width: 100% !important;
                                    }
                                    
                                    .vw-05 {
                                        width: 5vw !important;
                                    }
                                    
                                    .vw-10 {
                                        width: 10vw !important;
                                    }
                                    
                                    .vw-15 {
                                        width: 15vw !important;
                                    }
                                    
                                    .vw-20 {
                                        width: 20vw !important;
                                    }
                                    
                                    .vw-25 {
                                        width: 25vw !important;
                                    }
                                    
                                    .vw-30 {
                                        width: 30vw !important;
                                    }
                                    
                                    .vw-35 {
                                        width: 35vw !important;
                                    }
                                    
                                    .vw-40 {
                                        width: 40vw !important;
                                    }
                                    
                                    .vw-45 {
                                        width: 45vw !important;
                                    }
                                    
                                    .vw-50 {
                                        width: 50vw !important;
                                    }
                                    
                                    .vw-55 {
                                        width: 55vw !important;
                                    }
                                    
                                    .vw-60 {
                                        width: 60vw !important;
                                    }
                                    
                                    .vw-65 {
                                        width: 65vw !important;
                                    }
                                    
                                    .vw-70 {
                                        width: 70vw !important;
                                    }
                                    
                                    .vw-75 {
                                        width: 75vw !important;
                                    }
                                    
                                    .vw-80 {
                                        width: 80vw !important;
                                    }
                                    
                                    .vw-85 {
                                        width: 85vw !important;
                                    }
                                    
                                    .vw-90 {
                                        width: 90vw !important;
                                    }
                                    
                                    .vw-100 {
                                        width: 100vw !important;
                                    }
                                    
                                    .fontGilroyMedium {
                                        font-family: GilroyMedium !important;
                                    }
                                    
                                    .fontGilroyBold {
                                        font-family: GilroyBold !important;
                                    }
                                    
                                    .fontRoboto {
                                        font-family: 'Roboto', sans-serif !important;
                                    }
                                    
                                    .text-underline {
                                        text-decoration: underline !important;
                                    }
                                    
                                    .text-bluefuchsia {
                                        color: #154D7B !important;
                                    }
                                    
                                    .text-moodIndigo {
                                        color: #9c27b0 !important;
                                    }
                                    
                                    .text-bloodIndigo {
                                        color: #4a148c !important;
                                    }
                                    
                                    .text-brickRed {
                                        color: #d50000 !important;
                                    }
                                    
                                    .text-white {
                                        color: white !important;
                                    }
                                    
                                    .bg-tealGreen {
                                        background-color: #215763 !important;
                                    }
                                    
                                    .bg-moodIndigo {
                                        background-color: #9c27b0 !important;
                                    }
                                    
                                    .bg-bloodIndigo {
                                        background-color: #4a148c !important;
                                    }
                                    
                                    .bg-brickRed {
                                        background-color: #d50000 !important;
                                    }
                                    
                                    .bg-bluefuchsia {
                                        background-color: #154D7B !important;
                                    }
                                    
                                    .bg-darkbluefuchisa {
                                        background-color: #081B2D !important;
                                    }
                                    
                                    .bg-lightgray {
                                        background-color: #EAE8EC !important;
                                    }
                                    
                                    .bg-lightestgray {
                                        background-color: #F0F0F0 !important;
                                    }
                                    
                                    .hovertext-bloodIndigo:hover {
                                        color: #4a148c !important;
                                    }
                                    
                                    .hovertext-brickRed:hover {
                                        color: #d50000 !important;
                                    }
                                    
                                    .hovertext-bluefuchisa:hover {
                                        color: #154D7B !important;
                                    }
                                    
                                    .hovertext-primary:hover {
                                        color: #007aff !important;
                                    }
                                    
                                    .hovertext-success:hover {
                                        color: #27a844 !important;
                                    }
                                    
                                    .hovertext-danger:hover {
                                        color: #dd3546 !important;
                                    }
                                    
                                    .hovertext-warning:hover {
                                        color: #fec107 !important;
                                    }
                                    
                                    .hovertext-dark:hover {
                                        color: #353a40 !important;
                                    }
                                    
                                    .hovertext-secondary:hover {
                                        color: #6c757e !important;
                                    }
                                    
                                    .hovertext-info:hover {
                                        color: #17a2b7 !important;
                                    }
                                    
                                    .hovertext-white:hover {
                                        color: #ffffff !important;
                                    }
                                    
                                    .hovertext-bluefuchisa-border:hover {
                                        border-bottom: 2px solid #154D7B;
                                    }
                                    
                                    .hovertext-primary-border:hover {
                                        border-bottom: 2px solid #007aff;
                                    }
                                    
                                    .hovertext-success-border:hover {
                                        border-bottom: 2px solid #27a844;
                                    }
                                    
                                    .hovertext-danger-border:hover {
                                        border-bottom: 2px solid #dd3546;
                                    }
                                    
                                    .hovertext-warning-border:hover {
                                        border-bottom: 2px solid #fec107;
                                    }
                                    
                                    .hovertext-dark-border:hover {
                                        border-bottom: 2px solid #353a40;
                                    }
                                    
                                    .hovertext-secondary-border:hover {
                                        border-bottom: 2px solid #6c757e;
                                    }
                                    
                                    .hovertext-info-border:hover {
                                        border-bottom: 2px solid #17a2b7;
                                    }
                                    
                                    .hovertext-white-border:hover {
                                        border-bottom: 2px solid #ffffff;
                                    }
                                    
                                    .border-bottom-bluefuchisa {
                                        border-bottom: 2px solid #154D7B;
                                    }
                                    
                                    .border-bottom-primary {
                                        border-bottom: 2px solid #007aff;
                                    }
                                    
                                    .border-bottom-success {
                                        border-bottom: 2px solid #27a844;
                                    }
                                    
                                    .border-bottom-danger {
                                        border-bottom: 2px solid #dd3546;
                                    }
                                    
                                    .border-bottom-warning {
                                        border-bottom: 2px solid #fec107;
                                    }
                                    
                                    .border-bottom-dark {
                                        border-bottom: 2px solid #353a40;
                                    }
                                    
                                    .border-bottom-secondary {
                                        border-bottom: 2px solid #6c757e;
                                    }
                                    
                                    .border-bottom-info {
                                        border-bottom: 2px solid #17a2b7;
                                    }
                                    
                                    .border-bottom-white {
                                        border-bottom: 2px solid #ffffff;
                                    }
                                    
                                    .boxShadow-4bpx {
                                        box-shadow: 4px 4px rgba(0, 0, 0, 1);
                                    }
                                    
                                    .opct-01 {
                                        opacity: 0.1 !important;
                                    }
                                    
                                    .opct-02 {
                                        opacity: 0.2 !important;
                                    }
                                    
                                    .opct-03 {
                                        opacity: 0.3 !important;
                                    }
                                    
                                    .opct-04 {
                                        opacity: 0.4 !important;
                                    }
                                    
                                    .opct-05 {
                                        opacity: 0.5 !important;
                                    }
                                    
                                    .opct-06 {
                                        opacity: 0.6 !important;
                                    }
                                    
                                    .opct-07 {
                                        opacity: 0.7 !important;
                                    }
                                    
                                    .opct-08 {
                                        opacity: 0.8 !important;
                                    }
                                    
                                    .opct-09 {
                                        opacity: 0.9 !important;
                                    }
                                    
                                    .opct-10 {
                                        opacity: 1.0 !important;
                                    }
                                    
                                    .mtn-1 {
                                        margin-top: -1% !important;
                                    }
                                    
                                    .mtn-2 {
                                        margin-top: -2% !important;
                                    }
                                    
                                    .mtn-3 {
                                        margin-top: -3% !important;
                                    }
                                    
                                    .mtn-4 {
                                        margin-top: -4% !important;
                                    }
                                    
                                    .mtn-5 {
                                        margin-top: -5% !important;
                                    }
                                    
                                    .mtn-6 {
                                        margin-top: -6% !important;
                                    }
                                    
                                    .mtn-7 {
                                        margin-top: -7% !important;
                                    }
                                    
                                    .mtn-8 {
                                        margin-top: -8% !important;
                                    }
                                    
                                    .mtn-9 {
                                        margin-top: -9% !important;
                                    }
                                    
                                    .mtn-10 {
                                        margin-top: -10% !important;
                                    }
                                    
                                    .mtn-11 {
                                        margin-top: -11% !important;
                                    }
                                    
                                    .mtn-12 {
                                        margin-top: -12% !important;
                                    }
                                    
                                    .mtn-13 {
                                        margin-top: -13% !important;
                                    }
                                    
                                    .mtn-14 {
                                        margin-top: -14% !important;
                                    }
                                    
                                    .mtn-15 {
                                        margin-top: -15% !important;
                                    }
                                    
                                    .mtn-16 {
                                        margin-top: -16% !important;
                                    }
                                    
                                    .mtn-17 {
                                        margin-top: -17% !important;
                                    }
                                    
                                    .mtn-18 {
                                        margin-top: -18% !important;
                                    }
                                    
                                    .mtn-19 {
                                        margin-top: -19% !important;
                                    }
                                    
                                    .mtn-20 {
                                        margin-top: -20% !important;
                                    }
                                    
                                    .mbn-1 {
                                        margin-bottom: -1% !important;
                                    }
                                    
                                    .mbn-2 {
                                        margin-bottom: -2% !important;
                                    }
                                    
                                    .mbn-3 {
                                        margin-bottom: -3% !important;
                                    }
                                    
                                    .mbn-4 {
                                        margin-bottom: -4% !important;
                                    }
                                    
                                    .mbn-5 {
                                        margin-bottom: -5% !important;
                                    }
                                    
                                    .mbn-6 {
                                        margin-bottom: -6% !important;
                                    }
                                    
                                    .mbn-7 {
                                        margin-bottom: -7% !important;
                                    }
                                    
                                    .mbn-8 {
                                        margin-bottom: -8% !important;
                                    }
                                    
                                    .mbn-9 {
                                        margin-bottom: -9% !important;
                                    }
                                    
                                    .Toastify__toast-container--top-right {
                                        top: 4.5em !important;
                                    }
                                    
                                    .Toastify__toast-container--top-center {
                                        top: 4em !important;
                                    }
                                    
                                    .Toastify__toast-container--top-left {
                                        top: 4em !important;
                                    }
                                    
                                    .Toastify__toast-container--top-right {
                                        top: 4.5em !important;
                                    }
                                    
                                    .Toastify__toast-container--top-center {
                                        top: 4em !important;
                                    }
                                    
                                    .Toastify__toast-container--top-left {
                                        top: 4em !important;
                                    }
                                    
                                    a[disabled] {
                                        color: white !important;
                                        opacity: 0.5 !important;
                                        cursor: not-allowed !important;
                                    }
                                    
                                    .sideBar ul li {
                                        cursor: not-allowed !important;
                                    }