.manpower-profile-card{
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.5);
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 22px;
}

.company-card{
  border-radius: 1px;
  box-shadow: 0 2px 8px 0 rgba(169, 169, 169, 0.5);
  background-color: #ffffff;
  margin-top: 8px;
  padding:15px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #252525;
}
.inner-page-title{
  font-size: 36px;
  font-weight: bold;
  color: #262626;
  margin:27px 20px;
}
.company-card .element{
    border-right: 1px solid #c8c8c8;
    margin-right: 10px;
}
.company-card .element:nth-of-type(5){
    border: none;
}
.card-header-titles{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: normal;
  color: #054ed5;
}
.card-header-titles .element{
    margin-right: 10px;
}
