.cardParent {
    display: flex;
    padding: 2%;
}

.cardChild1 {
    width: 25%;
}

.fa-user {
    color: #0b62ab;
    font-size: 16px;
    margin-right: 10px;
}

.phoneIcon {
    width: 17px;
    height: 17px;
    margin-right: 9px;
}

.child1_stle {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.7);
}