/* .cardPadding > hr {
    margin: 2% 0;
}
.icon-fs {
    font-size: 3.5rem;
    opacity: 0.9;

}
.icon-fs2 {
    font-size: 3rem;
    margin-top: 10px;
    width: 100%;
}
.fontSize {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: underline;
}
.lastIcon {
    text-align: center !important;
}
.supplierClientName {
    font-size: 1.7rem;
    margin-top: 5px;
}
.supplierClientPhone {
    font-size: 1.3rem;
}
.subCardHeading {
    font-size: 1.3rem;
}
.subCardContext {
    font-size: 1.3rem;
} */