.sidebar{
    width: 251px;
    height: 100%;
    position: fixed;
    background: #081b2c;
    padding: 128.5px 0 0 16px;
    z-index: 1;
    font-size: 15px;
}
.sidebar ul{
    padding: 0;
}
.sidebar ul li{
    list-style: none;
    width: 235px;
    height: 45px;
    
}
.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    display: block;
    padding-left: 18.5px;
    border-radius: 3px 0 0 3px;
    font-weight: bold;
}
.sidebar ul li a span{
    margin: 0 16.5px;
}
.sidebar ul li a i{
    font-size: 25px;
}
.sidebar ul li a.active{
    background: #fff;
    color: #0b62ab;
}

