.articleHeader {
    display: flex;
    width: 90%;
    margin:0% auto;
}
.headerTitle{
    width: 80%;
    /* background-color: red; */
    /* padding-left: 2%; */
    font-size: 2rem;
    color:black;
}
.headerTitle > p {
    font-family: GilroyBold;
    margin-top: 5px;
    font-size: 4.0rem;
}
.headerButton {
    width: 20%;
    margin: auto;
}
.headerButton > button {
    margin:auto;
    /* width: 100%; */
    background-color: #124067;
    color: white;
    border:none;
    float:right;
}
.headerButton > button:hover {
    margin:auto;
    /* width: 100%; */
    background-color: white;
    color:#124067;
    border:none;
    border: 2px solid #124067;
}
.articleHeader2 {
    width: 90%;
    margin:1% auto;
    display: flex;
    padding: 0.5% 0%;
    margin-top: -10px;
}
.name ,.active{
    width:5%;
    text-align:center;
}
.searchBar {
    width: 90%;
    float: right;
}
.searchBar > input[type="search"] {
    float: right;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 40%;
    border: 2px solid #124067;
}
.searchBar > input[type="search"]::placeholder{
    color: #124067;

}
