body{
  font-family: 'Heebo', Arial, sans-serif;
  background: linear-gradient(to top, #000000, #164e7d);
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.details-page{
  background: #f0f0f0 !important;
}